h1, h2, h3, h4, p, li {
  font-family: serif;
  color: #444;

}

h1, h2, h3{
  color:rgb(0, 191, 191)
}

h1{
    
    font-size:26px;
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
}

h2{
  font-size: 40px;
  font-family: sans-serif;
}

h3{
font-size: 30px;
font-family: sans-serif;
}

h4{
  font-size: 28px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
}

p{
  font-size: 22px;
  font-family: sans-serif;
  line-height: 1.5;
}

li{
  font-family: sans-serif;
  font-size: 20px;
}

/*footer p{
  font-size: 16px;
}*/

/*article header p {
  font-style: italic;
}*/

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
  text-align: center;
}

.related-authors {
  font-size: 18px;
  font-weight: bold;
}

/*ul{
  list-style: none;
}*/

.related{
  list-style: none;
}

.main-header{
  background-color: #f2f2f2;
}

aside{
  background-color: #f2f2f2;
  border-top: 5px solid rgb(0, 124, 83);
  border-bottom: 5px solid rgb(0, 124, 83);
}


li:first-child{
  font-weight: bold;
}

article p:first-child{
  
}