/********Global Style************/

/*Colors
Primary Color: #e67e22
  Secondary Color: #cf711f
Background Color: #fae5d3
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  border: 8px dotted #e67e22
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/***********************************/
/************GRID SYSTEM************/
.grid {
  display: grid;
  gap: 9.6rem;
  row-gap: 9.6rem;
  column-gap: 6.4rem;

}


.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-vertically {
  align-items: center;
}

/************GRID SISTEM END************/

/*General Reusable Components*/
/*****************************/

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 9px;
  transition: background-color 0.5s;

  /**Just for CTA**/
  border: none;
  cursor: pointer;
  font-family: inherit;

}


.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fae5d3ff;
  box-shadow: inset 0 0 0 3px #FFF;
}

.text {
  padding: 100px;
  line-height: 1.5;
  max-width: 1030px;
  max-height: 5rem;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #252525;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.2rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.margin-right-smt {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.heading-primary,
.heading-secondary {
  font-weight: 700;
  color: #333;
  color: #2e1907;
  letter-spacing: -0.5px;
}

.subheadeing {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

strong {
  font-weight: 500;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  font-weight: 600;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

.center-text {
  text-align: center;
}