/*****************************/

/**Hero Section**/
/*****************************/
.section-hero {
  background-color: #fae5d3;
  padding: 4.8rem 0 9.6rem 0;
}

@media (max-width: 1280x) {
  .section-hero {
    background-color: blue;
  }
}


.hero {
  max-width: 130rem;
  gap: 9.6rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  min-height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fff;
  background-color: #fae5d3;
}

.delivered-imgs img:last-child {
  margin-right: 0;
}

.delivered-text {
  font-size: 1.6rem;
  font-weight: 600;
}

.delivered-text span {
  color: #e67e22;
  font-weight: 700;
}

/*****************************/


/**********Header*************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fae5d3ff;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 2.2rem;
}

/************/
/*Navigation*/
/************/


.main-nav-list {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #333;
  font-weight: 700;
  font-size: 1.6rem;
  transition: all 0.3s;
  display: inline-block;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  border-radius: 9px;
  padding: 1.6rem 2.4rem;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/*****************************/
/*****************************/
/************Features In******/

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-features-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;

  filter: brightness(0);
  opacity: 50%;
}

/*****************************/

/*********How it works********/

.section-how {
  padding: 9.6rem 0;
}

.step-img-box {
  width: 50%;
}

.step-number {
  font-size: 9.6rem;
  font-weight: 600;
  color: #aaa;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.6;
}

.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step-img-box:before,
.step-img-box:after {
  content: "";
  display: block;
  width: 60%;
  padding-bottom: 60%;
  background-color: #fae5d3ff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;


}

.step-img-box:before {
  width: 65%;
  padding-bottom: 65%;
  background-color: #fbe9d9c5;
}

.step-img-box:after {
  max-width: 50%;
  padding-bottom: 50%;
  background-color: #fae5d3;

}

.step-img {
  width: 35%;
}


/*****************************/

/********meals section********/

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.3s;
}

.meal:hover {
  transform: translateY(-1rem);
  transition: all 0.3s;
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.050)
}

.meals-section {
  padding: 9.6rem 0;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}

.meal-atributes {
  list-style: none;
}

.meal-attribute {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.6rem;
}

.meal-img {
  width: 100%;
}

.meal-icon {
  font-size: 2.4rem;
  color: #cf711f;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: green;
  color: black;
  font-weight: 600;
  border-radius: 100px;
}

.tag--vegetarian {
  background-color: #e5f4dd;
  color: #3ea035;
}

.tag--vegan {
  background-color: #e5f4dd;
  color: #3ea035;
}

.tag--paleo {
  background-color: #fdefe0;
  color: #e67e22;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.8rem
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.list-item {
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/*****************************/

/*************Testimonials************/
.section-testimonials {
  background-color: #fae5d3;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
  row-gap: 4.8rem;
  column-gap: 4.8rem;
}

.testimonial-container {
  padding: 9.6rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;

}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.05);

}


/*************************************/

/********* Pricing Section **********/

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  border-radius: 11px;

  width: 75%;
  justify-items: center;
}

.pricing-plan--starter {
  justify-self: end;
  border: 2px solid #fdefe0;
  padding: 4.6rem;
}

.pricing-plan--complete {
  background-color: #fdefe0;
  padding: 4.8rem;
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #cf711f;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  color: #777;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f
}

.plan-signup {
  text-align: center;
  margin-top: 4.8rem;
}

.features-icon {
  background-color: #fae5d3ff;
  border-radius: 50%;
  height: 2.4rem;
  width: 2.4rem;
  margin-bottom: 3.2rem;
  color: #e67e22;
  padding: 1.6rem;
}

.feature-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

.plan-details {
  line-height: 1.6rem;
  font-size: 1.6rem;
  text-align: center;
}

/**CTA**/

.section-cta {
  padding: 9.6rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #cf711f, #e67e22);
  height: 100%;
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #2e1907;
}

.cta-img-box {
  background-image: linear-gradient(to right bottom,
      rgba(207, 113, 31, 0.35),
      rgba(230, 125, 34, 0.35)), url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 11px;
}

.cta .heading-secondary {
  margin-bottom: 3.2rem;
  color: #2e1907;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin: 4.8rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.8rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  border: none;
  font-family: inherit;
  background-color: #fdf2e9;
  border-radius: 9px;
  color: inherit;
}

.cta-form input::placeholder {
  color: #ccc;
}

.btn--form {
  padding: 1.2rem;
  align-self: end;
  background-color: #2e1907;
  color: #fdf2e9;
}

.btn--form:hover {
  color: #555;
  background-color: #fdf2e9;
}

.cta *:focus {
  outline: none;

  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}

/*****************************/
/************Footer Section************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}